/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hml: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 55 56 57 43 54 53 52 51>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <70>;
            quick-tap-ms = <180>;
        };

        hmr: homewrow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <70>;
            quick-tap-ms = <180>;
        };

        tm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 55 56 57 54 53>;
            label = "THUMB_MODS";
            quick-tap-ms = <160>;
        };

        hml_shift: hml_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <140>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 55 56 57 43 54 53>;
            flavor = "balanced";
            quick-tap-ms = <180>;
        };

        hmr_shift: hmr_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <140>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            flavor = "balanced";
            quick-tap-ms = <180>;
        };

        back_and_delete: back_and_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACK_AND_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        backspace_or_layer: backspace_or_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "BACKSPACE_OR_LAYER";
            bindings = <&mo>, <&back_and_delete>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57>;
            quick-tap-ms = <220>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp F11     &kp F1        &kp F2           &kp F3           &kp F4                   &kp F5                                             &kp F6       &kp F7                    &kp F8            &kp F9            &kp F10         &kp F12
&none       &kp Q         &kp W            &kp E            &kp R                    &kp T                                              &kp Y        &kp U                     &kp I             &kp O             &kp P           &none
&kp ESCAPE  &hml LCTRL A  &hml LEFT_ALT S  &hml LEFT_GUI D  &hml_shift LEFT_SHIFT F  &kp G                                              &kp H        &hmr_shift RIGHT_SHIFT J  &hmr RIGHT_GUI K  &hmr RIGHT_ALT L  &hmr RCTRL SQT  &kp SQT
&none       &kp Z         &kp X            &kp C            &kp V                    &kp B                    &none        &none        &kp N        &kp M                     &kp COMMA         &kp DOT           &kp FSLH        &none
                                           &none            &tm 3 ESCAPE             &backspace_or_layer 2 0  &tm 1 TAB    &tm 1 ENTER  &tm 2 SPACE  &tm 3 UNDERSCORE          &none
            >;
        };

        Symbols {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans                  &trans               &trans                          &trans                                   &trans                               &trans            &trans                               &trans                        &trans                     &trans                          &trans
&trans  &kp EXCLAMATION         &kp AT_SIGN          &kp HASH                        &kp DOLLAR                               &kp PERCENT                          &kp CARET         &kp AMPERSAND                        &kp ASTERISK                  &kp TILDE                  &kp COLON                       &trans
&trans  &hml LEFT_CONTROL PLUS  &hml LEFT_ALT EQUAL  &hml LEFT_GUI LEFT_PARENTHESIS  &hml_shift LEFT_SHIFT RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES                    &kp SINGLE_QUOTE  &hmr_shift RIGHT_SHIFT LEFT_BRACKET  &hmr RIGHT_GUI RIGHT_BRACKET  &hmr RIGHT_ALT LEFT_BRACE  &hmr RIGHT_CONTROL RIGHT_BRACE  &none
&trans  &kp BACKSLASH           &kp PIPE             &kp LESS_THAN                   &kp GREATER_THAN                         &kp MINUS          &trans    &trans  &kp GRAVE         &kp UNDERSCORE                       &kp COMMA                     &kp PERIOD                 &kp SEMICOLON                   &none
                                                     &trans                          &trans                                   &trans             &trans    &trans  &trans            &trans                               &trans
            >;
        };

        Arrows+BT {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans            &trans        &trans        &trans        &trans                        &bt BT_SEL 0  &bt BT_SEL 1                       &bt BT_SEL 2             &bt BT_SEL 3          &bt BT_SEL 4      &bt BT_CLR
&trans  &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                        &kp N6        &kp N7                             &kp N8                   &kp N9                &kp N0            &trans
&trans  &kp LEFT_CONTROL  &kp LALT      &kp LGUI      &kp LSHFT     &trans                        &kp LEFT      &hmr_shift DOWN_ARROW RIGHT_SHIFT  &hmr RIGHT_GUI UP_ARROW  &hmr RIGHT_ALT RIGHT  &kp LEFT_CONTROL  &trans
&trans  &trans            &trans        &kp K_COPY    &kp K_PASTE   &caps_word  &trans    &trans  &caps_word    &kp LG(V)                          &kp LG(C)                &trans                &trans            &trans
                                        &trans        &trans        &trans      &trans    &trans  &trans        &trans                             &trans
            >;
        };

        Mouse-and-Functions {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &trans          &trans        &trans          &trans           &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10                    &trans          &mkp LCLK     &mkp RCLK       &trans           &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11                    &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans    &trans  &trans          &trans        &trans          &trans           &trans  &trans
                        &trans  &trans  &trans   &trans    &trans  &trans          &trans        &trans
            >;
        };
    };
};
